 /*?Content Container*/
  .content-container-user{
    margin-left: 300px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .title-container h1{
    font-family:var(--font-bold);
  }

  .table-container{
    overflow-x: auto;
    margin-top: 20px;
    max-height: 500px;
    overflow: auto;
 }

 .search-container{
  display: grid;
  place-content: end;
  margin: 10px 10px auto auto !important;/** Top Right Bottom left*/
  grid-template-columns: 70px 270px;
  margin-left: auto;
 }

 .search-container form{
  height: 50px;
  width: 250px;
  display: grid;
  border:var(--size) var(--border);
  place-items: center;
  grid-template-columns: 50px 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  margin-left: auto;
 }

  .edit-user-container{
    display: grid;
    place-items: center;
    background-color:var(--container-color);
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
    min-height: 600px;
  }

  .Search-User{
    margin: 10px 10px auto auto ;/** Top Right Bottom left*/
  }

  #Search-user-button{
    background-color:var(--primary-color);
  }

  .table-edit-user{
    min-height: 500px;
    margin-bottom: 20px;
    margin-top: 25px;
    width: 98%;
  }

  table{
    width: 90%;
  }

  .Edit-user-btn,
  .Delete-user-btn{
    background-size: contain; /* Ajusta el tamaño de la imagen para que quepa en el botón */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    width: 30px; /* Ajusta el ancho del botón según el tamaño de la imagen */
    height: 30px; /* Ajusta la altura del botón según el tamaño de la imagen */
    border: none; /* Elimina cualquier borde predeterminado */
    background-color: transparent; /* Establece el fondo del botón como transparente */
    cursor: pointer; /* Muestra el cursor como un puntero al pasar sobre el botón */
  }

  .highlight {
    background-color: #FFFF99; /* Cambia este color a tu preferencia */
}
