 .title-container h1{
    font-family:var(--font-bold);
  }

.content-container{
    margin-left: 300px;
    margin-bottom: 20px;
    min-height: 600px;
    padding: 10px;
  }

.add-user-container{
    background-color:var(--container-color);
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
    min-height: 480px;
    margin-bottom: 30px;
}

.add-user-container h2{
    font-family:var(--font-bold);
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 15px;
    margin-left: 15px;
}

.move-rigth{
  width: 100%;
  text-align: end;
  margin-top: 20px;
}

.add-user{
  width: 100%;
}

.add-user-form{
  margin-top: 20px;
  font-family:var(--font);
  font-size: 20px;
  width: 100%;
  display:grid;
  place-items: center;
  margin-bottom: 10px;
}