 .title-container h1{
    font-family:var(--font-bold);
  }

  /*?Content Container*/
  .content-container{
    margin-left: 300px;
    margin-bottom: 20px;
    min-height: 1000px;
    padding: 10px;
  }

.calendar{
    margin-bottom: 2000px;
  }

  #fc-dom-1, .fc-col-header-cell-cushion, .fc-day{
    font-family:var(--font);
  }

  .fc-today-button{
    font-family:var(--font-ultralight) !important;
  }