  /*?Content Container*/
  .content-container{
    margin-left: 300px;
    margin-bottom: 20px;
    min-height: 600px;
    padding: 10px;
  }

  .title-container h1{
    font-family: 'Telegraf Bold',sans-serif;
  }

  .quick-view-container, .Last-assigments-container{
    background-color: #D9D9D9;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
  }

  .quick-view{
    display: grid;
    place-items: center;
    place-content: center;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 10px;
  }

  .quick-view-container h2{
    font-family: 'Telegraf Bold', sans-serif;
    margin-left: 10px;
  }

  .view{
    background-color: #3C6E71;
    display: grid;
    place-items: center;
    height: 150px;
    width: 250px;
    grid-template-rows: 45% 45% 10%;
    border-radius: 15px;
  }

  .icon-title{
    display: grid;
    place-items: center;
    width: 250px;
    min-height: 90px;
    border-radius: 15px;
    min-width: 250px;
    grid-template-columns: 20% 80%;
  }

  .icon{
    background-color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
  }

  .view h2{
    font-family: 'Telegraf',sans-serif;
    font-size: medium;
    color: #fff;
  }

  .view p{
    font-family: 'Telegraf Bold',sans-serif;
    font-size: xx-large;
    color: #fff;
  }

  .view .all-lines-general-pass-rate, .view .pending-maintenance-this-month{
    color: #43C467;
  }

  .view a{
    font-family: 'Telegraf',sans-serif;
    margin-left: auto;
    margin-right: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #fff;
  }

  .view .pending-assignments, .view .machines-nearly-full-storage{
    color: #FF3131;
  }

/*?Last assigment*/

  .Last-assigments-container{
    min-height: 200px;
    margin-bottom: 20px;
  }

  .Last-assigments-container h2{
    font-family: 'Telegraf Bold', sans-serif;
    margin-left: 10px;
  }

  table {
    caption-side: bottom;
    border-collapse: collapse;
  }

  .table {
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: var(--bs-emphasis-color);
    --bs-table-bg: var(--bs-body-bg);
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-emphasis-color);
    --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    text-align: center;
    border-color: var(--bs-table-border-color);
  }

  .table thead{
    font-family: 'Telegraf Bold',sans-serif;
  }
  .table tbody{
    font-family: 'Telegraf',sans-serif;
    border-top: 0.5px  solid black;
  }

  .table > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
    color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
    background-color: var(--bs-table-bg);
    border-bottom-width: var(--bs-border-width);
    box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
  }
  .table > tbody {
    vertical-align: inherit;
  }
  .table > thead {
    vertical-align: bottom;
  }

  .table-secondary {
    --bs-table-color: #000;
    --bs-table-bg: #e2e3e5;
    --bs-table-border-color: #b5b6b7;
    --bs-table-striped-bg: #d7d8da;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #cbccce;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #d1d2d4;
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
  }

  .table-hover > tbody > tr:hover > * {
    --bs-table-color-state: var(--bs-table-hover-color);
    --bs-table-bg-state: var(--bs-table-hover-bg);
  }