/*?Content Container*/
  .content-container{
    margin-left: 300px;
    margin-bottom: 20px;
    min-height: 600px;
    padding: 10px;
  }

  .title-container h1{
    font-family:var(--font-bold);
  }

  .quick-view-container, .Last-assigments-container{
    background-color:var(--container-color);
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
  }

  .quick-view{
    display: grid;
    place-items: center;
    place-content: center;
    grid-template-columns: 33% 33% 33%;
    padding: 10px;
  }

  .quick-view-container h2{
    font-family:var(--font-bold);
    margin-left: 10px;
  }

  .view{
    background-color:var(--secondary-color);
    display: grid;
    place-items: center;
    height: 150px;
    width: 280px;
    grid-template-rows: 45% 45% 10%;
    border-radius: 15px;
  }

  .icon-title{
    display: grid;
    place-items: center;
    width: 250px;
    min-height: 90px;
    border-radius: 15px;
    min-width: 250px;
  }

  .view h2{
    font-family:var(--font-bold);
    font-size: medium;
    color: #fff;
  }

  .view p{
    font-family:var(--font-bold);
    font-size: xx-large;
    color: #fff;
  }

  .view .all-lines-general-pass-rate, .view .pending-maintenance-this-month{
    color: #43C467;
  }

  .view a{
    font-family:var(--font);
    margin-left: auto;
    margin-right: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #fff;
  }

  .view .pending-assignments, .view .machines-nearly-full-storage{
    color: #FF3131;
  }

/*?Last assigment*/

  .Last-assigments-container{
    max-height: 400px;
    margin-bottom: 20px;
  }

  .Last-assigments-container h2{
    font-family:var(--font-bold);
    margin-left: 10px;
  }

  .table-container{
    overflow-x: auto;
    margin-top: 20px;
    max-height: 320px;
    overflow: auto;
 }