@font-face {
    font-family: 'Telegraf';
    src: url('../assets/fonts/PPTelegraf-Regular.otf') format('opentype');
  }

  @font-face {
    font-family: 'Telegraf Bold';
    src: url('../assets/fonts/PPTelegraf-UltraBold.otf') format('opentype');
  }

  @font-face {
    font-family: 'Telegraf UltraLight';
    src: url('../assets/fonts/PPTelegraf-UltraLight.otf') format('opentype');
  }

  .title-container h1{
    font-family: 'Telegraf Bold',sans-serif;
  }
  .title-options{
    font-family: 'Telegraf Bold',sans-serif;
    text-align: center;
  }
  /*?Content Container*/
  .content-container{
    margin-left: 300px;
    margin-bottom: 20px;
    min-height: 600px;
    padding: 10px;
  }

  .ict-mantenaince-container{
    background-color: #D9D9D9;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
    min-height: 480px;
    margin-bottom: 30px;
    width: 98%/*1164px*/;
  }
 /*? Contenedor de las opciones*/
 .options-container{
    margin-top: 40px;
  }
  /*? Menú de ñas 4 opciones*/
  .ict-mantenaince-container .menu-ict-option{
    display: grid;
    place-items: start;
    border-bottom: 0.5px solid black;
  }

  .ict-mantenaince-container .ict-options {
    width: 60%;
    height: 40px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }

  .ict-mantenaince-container .ict-options button {
    height: 40px;
    margin: 0;
    border: none;
    font-size: 15px;
    cursor: pointer;
  }
  .ict-mantenaince-container .ict-options button:hover {
    background-color: #fff;
  }

  /*? OPCIÓN 2 (Es el css de tabla así que no hice nada aquí xd)*/

  /*?  Opcion 3 y 4*/
  .ict-most-faulty-pins-container, .ict-total-cycles-container {
    display: grid;
    place-items: center;
    width: 100%;
  }
  .ict-most-faulty-pins-container form, .ict-total-cycles-container form{
    font-size: 20px;
    font-family: 'Telegraf', sans-serif;
    width: 80%;
  }
  .ict-most-faulty-pins-container label,
  .ict-most-faulty-pins-container input,
  .ict-most-faulty-pins-container select,
  .ict-total-cycles-container label,
  .ict-total-cycles-container input,
  .ict-total-cycles-container select{
    margin-bottom: 20px;
}

  #specific-fixure{
    width: 97%;
  }

  .center{
    display: grid;
    place-items: center;
  }