 .title-container h1{
    font-family:var(--font-bold);
  }

  /*?Content Container*/
  .content-container{
    margin-left: 300px;
    margin-bottom: 20px;
    min-height: 600px;
    padding: 10px;
  }

 /*? CONTENEDOR KNOWN ISSUES*/
  .known-issues-container{
    display: grid;
    place-items: center;
    background-color:var(--container-color);
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
    min-height: 480px;
    margin-bottom: 20px;
  }

  .known-issues-container h2{
    font-family:var(--font-bold);
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 15px;
    margin-left: 15px;
  }

  .known-issues{
    display: grid;
    place-items: center;
    padding: 10px;
  }

/*? SEARCH*/
  .known-issues-search{
    display: grid;
    place-items: center;
    height: 50px;
    width: 900px;
    background-color:var(--background-color);
    border-radius: 30px;
  }

  .known-issues-search input{
    height: 43px;
    width: 845px;
    background-color:var(--background-color);
    border-radius: 0px 30px 30px 0px;
    border: none;
    font-family:var(--font);
    font-size: 20px;
    text-align: center;
    margin: 0;
  }

  .known-issues-search button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color:var(--primary-color);
    color: #fff;
  }

  /*? CONTENIDO E ICONO*/
 .icon-search{
    margin-top: 40px;
    font-size: 150px;
    margin-bottom: 40px;
 }