body{
  background-color:var(--container-color);
  display: grid;
  place-content: center;
  place-items: center;
  height: 98vh;
}

 .form-sigin{
    display: grid;
    place-items: center;
    background-color:var(--primary-color);
    width: 550px;
    height: 600px;
    border-radius: 30px;
  }

 .form-sigin .form-row{
    margin-bottom: 10px;
  }

 .form-sigin .form-row input{
    font-family:var(--font);
  }

 .form-sigin, .form-sigin .form-group label{
    font-family:var(--font);
    color: white;
    font-size: 17px;
  }