<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/fontawesome-free-6.5.1-web/css/all.min.css"/>
    <link rel="icon" href="../static/assets/icons/house-door-fill.svg" type="image/svg+xml">
    
    <link rel="stylesheet" href="../static/css/style.css">

    <title>Home</title>
</head>
<body>

    <div class="main-container">
        <!--?Contenedor Principal-->
        <header class="header-container">
            <!--?Header-->
            <div class="return-button">
                <!--?Return Button-->
                <i id="" class="fas fa-arrow-alt-circle-left fa-2x"></i>
            </div>
            <div class="search-container">
                <!--?Formulario Buscar-->
                <form action="/buscar" method="get">
                    <button class="Search-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input id="Search-input" class="Search-input" type="search" name="Search" placeholder="Search here...">
                </form>
            </div>
            <div class="message-notifications-container">
                <!--?Contenedores de mensajes y notificaciones-->
                <div class="message-container">
                    <!--?Contenedor de mensajes-->
                    <i class="fas fa-envelope fa-lg"></i>
                </div>
                <div class="notification-container">
                    <!--?Contenedor de notificaciones-->
                    <i class="fas fa-bell fa-lg"></i>
                </div>
            </div>
            <div class="user-container">
                <!--?Contenedor de usuario-->
                <div class="Employee-name-role">
                    <label for="" class="Employee-name" id="">Employee Name</label><!--?Nombre de Empleado-->
                    <label for="" class="Employee-role" id="">Employee Role</label><!--?Rol de Empleado-->
                </div>
                <div class="user-photo">
                    <i class="fas fa-user fa-3x"></i>
                </div>
            </div>
        </header>

        <nav class="navbar">
            <img id="logo" src="../static/assets/img/logo.jpeg" width="">
            <ul>
                <li><a href=""><i class="fa-solid fa-gauge"></i>Dashboard</a></li>
                <li><a href=""><i class="fa-solid fa-list-check"></i>Task Assignment</a></li>
                <li><a href=""><i class="fa-solid fa-box-archive"></i>Storage</a></li>
                <li><a href=""><i class="fa-solid fa-microchip"></i>Pcbs's Location</a></li>
                <li><a href=""><i class="fa-solid fa-calendar-days"></i>Calendar & Events</a></li>
                <li><a href=""><i class="fa-solid fa-magnifying-glass"></i>Know Issues</a></li>
                <li><a href=""><i class="fa-solid fa-gear"></i>ICT</a></li>
                <li><a href=""><i class="fa-solid fa-display"></i>SPI & AOI</a></li>
                <li><a href=""><i class="fa-solid fa-gauge"></i>Departament</a></li>
                <li><a href=""><i class="fa-solid fa-gauge"></i>Managment</a></li>
                <li><a href=""><i class="fa-solid fa-code"></i>iFrame</a></li>
                <li><a href=""><i class="fa-solid fa-file"></i>Documentation</a></li>
            </ul>
            <div class="help-logout-container">
                <div class="help-container">
                    <div class="help">
                        <a href=""><i class="fa-solid fa-question"></i>Help</a>
                    </div>
                </div>
                <div class="logout-container">
                    <div class="logout">
                        <a href=""><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="content-container">
            <!--!aqui poner contenido por pagina-->
            <div class="title-container">
                <h1>Dashboard</h1>
            </div>
            <!--?Quick views-->
            <div class="quick-view-container">
                <h2>Quick View</h2>
                <div class="quick-view">
                    <div class="view">
                        <div class="icon-title">
                            <!--?Icono-->
                            <div class="icon">
                                <i class="fa-solid fa-gear"></i>
                            </div>
                            <!--?Titulo-->
                            <h2>ALL LINES GENERAL PASS RATE</h2>
                        </div>
                        <!--?Status-->
                        <p class="all-lines-general-pass-rate">90%</p>
                        <!--?more-->
                        <a href="">more <i class="fa-solid fa-arrow-right fa-xs"></i></a>
                    </div>
                    <div class="view">
                        <div class="icon-title">
                            <!--?Icono-->
                            <div class="icon">
                                <i class="fa-solid fa-gear"></i>
                            </div>
                            <!--?Titulo-->
                            <h2>PENDING ASSIGNMENTS</h2>
                        </div>
                        <!--?Status-->
                        <p class="pending-assignments">1</p>
                        <!--?more-->
                        <a href="">more <i class="fa-solid fa-arrow-right fa-xs"></i></a>
                    </div>
                    <div class="view">
                        <div class="icon-title">
                            <!--?Icono-->
                            <div class="icon">
                                <i class="fa-solid fa-gear"></i>
                            </div>
                            <!--?Titulo-->
                            <h2>PENDING MAINTENANCE THIS MONTH</h2>
                        </div>
                        <!--?Status-->
                        <p class="pending-maintenance-this-month">0</p>
                        <!--?more-->
                        <a href="">more <i class="fa-solid fa-arrow-right fa-xs"></i></a>
                    </div>
                    <div class="view">
                        <div class="icon-title">
                            <!--?Icono-->
                            <div class="icon">
                                <i class="fa-solid fa-gear"></i>
                            </div>
                            <!--?Titulo-->
                            <h2>MACHINES NEARLY FULL STORAGE</h2>
                        </div>
                        <!--?Status-->
                        <p class="machines-nearly-full-storage">2</p>
                        <!--?more-->
                        <a href="">more <i class="fa-solid fa-arrow-right fa-xs"></i></a>
                    </div>
                </div>
            </div>
            <!--?Last Assignments-->
            <div class="Last-assigments-container">
                <h2>Last Assignment</h2>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <td>Task</td>
                            <td>Details</td>
                            <td>Created At</td>
                        </tr>
                    </thead>
                    <tbody>
                        <!--!Aqui va el cuerpo de la tabla-->
                    </tbody>
                </table>
                <!--TODO: -->
            </div>
        </div>

        <footer class="rights">
            <p id="rights">Motors INC.© 2024 All rights reserved</p>
        </footer>
    </div>
</body>
</html>